.fade-enter-active,
.fade-leave-active {
    transition: opacity .4s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.move-enter-active,
.move-leave-active {
    transition: transform .2s, opacity .2s;
}

.move-enter,
.move-leave-active {
    opacity: 0;
    transform: translateY(50%);
}
